<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhpVersionSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PhpVersionSwitcher.Properties.Settings>
            <setting name="HttpServerServiceName" serializeAs="String">
                <value>Apache2.4</value>
            </setting>
            <setting name="HttpServerProcessPath" serializeAs="String">
                <value>C:\Web\Soft\Nginx\nginx.exe</value>
            </setting>
            <setting name="FastCgiAddress" serializeAs="String">
                <value>127.0.0.1:9090</value>
            </setting>
            <setting name="PhpDir" serializeAs="String">
                <value>C:\Web\Soft\PHP</value>
            </setting>
            <setting name="PhpServerDocumentRoot" serializeAs="String">
                <value>C:\Web\Projects</value>
            </setting>
            <setting name="PhpServerAddress" serializeAs="String">
                <value>127.0.0.1:8080</value>
            </setting>
        </PhpVersionSwitcher.Properties.Settings>
    </applicationSettings>
</configuration>